.alert_box {
    position: fixed;
    top: 30px;
    left: calc(50% - 155px);
    z-index: 1;
    display:flex;
    flex-direction: column;
}

.alert {
    padding: 5px 15px;
    margin-bottom: 7px;
    background-color: rgba(239, 238, 238, 0.4);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    animation-name: alert_show;
    animation-duration: 1.5s;

}

@keyframes alert_show {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.alert_status_image {
    width: 15px;
    height:15px;
    margin-right: 10px;
}

.alert_color {
    width: 15px;
    height: 15px;
    background-color: #111;
    margin-right: 5px;
}