.color_chips {
    width: 200px;
    height: 350px;

    display: flex;
    justify-content: space-between;
}

.color_chips > .hue_chips,
.color_chips > .saturation_chips,
.color_chips > .intensity_chips {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.color_chips .color_chip {
    width: 50px;
    height: 50px;
    background-color: #00aa00;
}