header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color);
    font-weight: 600;
    font-size: 18px;
}

.icon {
    flex: none;
    width: 150px;
    text-align: center;
}

nav {
    height: 100%;
    margin-left: auto;
    display: flex;
}