.help {
    width: 150px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.help:hover {
    color:red;
    cursor: pointer;
}

.help_button_on {
    color:red;
}

.help_page {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    padding-top: 3px;
    border: 20px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color);
    display: none;
    flex-direction: column;
}

.help_page_on {
    display: flex;
}

.help_header {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
    display: flex;
}

.help_description {
    font-weight: 600;
    font-size: 18px;
}

.help_exit {
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.help_exit:hover {
    color: red;
}

.help_main {
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.help_back:hover {
    color: red;
    cursor: pointer;
}

.help_forward:hover {
    color: red;
    cursor: pointer;
}

.help_button_disabled {
    opacity: 0;
}

.help_image_cover {
    max-width: 70%;
    padding: 50px;
    border: 1px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color), 
        -4px -4px 10px var(--white-shadow-color);
}

.help_image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 500px;
}

.help_content_cover {
    padding: 30px;
    border: 1px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
}