@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap'); /* 한글 */

:root {
    --text-color: rgb(0, 0, 0);
    --background-color:rgb(239, 238, 238);
    --border-color: rgba(255, 255, 255, 0.3);
    --white-shadow-color: rgba(255, 255, 255, 1);
    --black-shadow-color: rgba(0, 0, 0, 0.1);
    --button-active-color: red;
    --float-shadow-color: rgba(0, 0, 0, 0.2);
    --chip-shadow-color: rgba(255, 255, 255, 0.6);
    --alert-background-color: rgba(239, 238, 238, 0.4);
    --palette-chip-background-color: rgb(239, 238, 238);

    --dark-text-color: rgb(255, 255, 255);
    --dark-background-color: rgb(32, 32, 32);
    --dark-background-color-height: rgb(46, 47, 52);
    --dark-black-shadow-color: rgba(0, 0, 0, 0.5);
    --dark-float-shadow-color: rgba(0, 0, 0, 0.5);
    --dark-palette-chip-background-color: rgb(46, 47, 52);
    --dark-alert-background-color: rgba(46, 47, 52, 0.4);
    --dark-button-active-color: red;
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    cursor: default;
    font-size: 16px;
    user-select: none;
    color: var(--text-color);
}

.dark_mode * {
    color: var(--dark-text-color);
}

:lang(ko) { font-family: 'Gowun Dodum'; }
:lang(en) { font-family: 'Arial'; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    min-height: 100vh;
    background-color: var(--background-color);
}

.dark_mode {
    background-color: var(--dark-background-color);
}