@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap'); /* 한글 */

:root {
    --background-color:#efeeee;
    --border-color: rgba(255, 255, 255, 0.3);
    --white-shadow-color: rgba(255, 255, 255, 1);
    --black-shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    cursor: default;
    font-size: 16px;
    user-select: none;
}

:lang(ko) { font-family: 'Gowun Dodum'; }
:lang(en) { font-family: 'Arial'; }


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    min-height: 100vh;
    background-color: var(--background-color);
}