.setting {
    width: 150px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.setting:hover {
    color:red;
    cursor: pointer;
}

.setting_button_on {
    color:red;
}

.setting_page {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    padding-top: 3px;
    border: 20px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color);
    display: none;
    flex-direction: column;
}

.setting_page_on {
    display: flex;
}

.setting_page_header {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
    display: flex;
}

.setting_page_description {
    font-weight: 600;
    font-size: 18px;
}

.setting_page_exit {
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.setting_page_exit:hover {
    color: red;
}

.setting_section {
    padding: 30px;
    border: 1px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color);
}

.setting_section:not(:last-child) {
    margin-bottom: 30px;
}

.setting_description {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
}

.setting_discription:hover {
    cursor: pointer;
}

.setting_inputs {
    display: flex;
    flex-direction: column;
}

.setting_input_label {
    cursor: pointer;
    margin-left: 20px;
}

.setting_input_label:not(:last-child) {
    margin-bottom: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
  }