.setting {
    width: 150px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.setting:hover {
    color:var(--button-active-color);
    cursor: pointer;
}

.dark_mode .setting:hover { /* dark */
    color:var(--dark-button-active-color);
}

.setting_button_on {
    color:var(--button-active-color);
}

.dark_mode .setting_button_on { /* dark */
    color:var(--dark-button-active-color);
}

.setting_page {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    padding-top: 3px;
    border: 20px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color);
    display: none;
    flex-direction: column;
}

.dark_mode .setting_page { /* dark */
    background-color: var(--dark-background-color-height);
    border: 20px solid var(--dark-background-color-height);
    box-shadow: 4px 4px 10px 0 var(--dark-black-shadow-color);
}

.setting_page_on {
    display: flex;
}

.setting_page_header {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

.setting_page_description {
    font-weight: 600;
    font-size: 18px;
}

.setting_page_exit {
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.setting_page_exit:hover {
    color: var(--button-active-color);
}

.dark_mode .setting_page_exit:hover { /* dark */
    color: var(--dark-button-active-color);
}

.setting_section {
    padding: 30px;
    border: 1px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color);
}

.dark_mode .setting_section { /* dark */
    border: 1px solid var(--dark-background-color-height);
    box-shadow: 4px 4px 10px 0 var(--dark-black-shadow-color);
}

.setting_section:not(:last-child) {
    margin-bottom: 30px;
}

.setting_description {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
}

.setting_discription:hover {
    cursor: pointer;
}

.setting_inputs {
    display: flex;
    flex-direction: column;
}

.setting_input_label {
    cursor: pointer;
    margin-left: 20px;
}

.setting_input_label:not(:last-child) {
    margin-bottom: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
  }

.dark_mode_input {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color),
    4px 4px 10px 0 var(--black-shadow-color) inset,
    -4px -4px 10px var(--white-shadow-color) inset,
    4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color),
    4px 4px 10px 0 var(--black-shadow-color) inset,
    -4px -4px 10px var(--white-shadow-color) inset;
    position: relative;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.dark_mode .dark_mode_input { /* dark */
    background-color: var(--dark-background-color-height);
    border: 2px solid var(--dark-background-color-height);
    box-shadow: 4px 4px 10px 0 var(--dark-black-shadow-color),
    4px 4px 10px 0 var(--dark-black-shadow-color) inset,
    4px 4px 10px 0 var(--dark-black-shadow-color),
    4px 4px 10px 0 var(--dark-black-shadow-color) inset;
}

.dark_mode_input::before {
    content: url('/images/sun.png');
    position: absolute;  
    width: 35px;
    height: 35px;
    background-color: var(--mode-change-button-color);
    border-radius: 35px;
    top: 5px;
    left: 8px;
    transition-property: left;
    transition-duration: 0.4s;
}

.dark_mode .dark_mode_input::before {
    content: url('/images/moon.png');
    left: 50px;
    background-color: var(--dark-mode-change-button-color);
}