.left_aside {
    position: fixed; 
    width: 300px;
    height: 700px;
    background-color: var(--background-color);
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left_aside > .magnify {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color: #00aa00;
    border: 20px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color);
}

.left_aside > .last_images {
    margin-top: 30px;
    display: flex;
    flex-direction : column;
    align-items: center;
}

.left_aside > .last_images > .last_image {
    margin-top: 10px;
    height: 60px;
}