.right_aside {
    position: sticky;
    align-self: flex-start;
    top: 10%;
    padding: 15px;
    width: 200px;
    background-color: var(--background-color);
    box-shadow: 10px 10px 30px 0 var(--float-shadow-color);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark_mode .right_aside { /* dark_mode */
    background-color: var(--dark-background-color-height);
    box-shadow: 5px 5px 10px 0 var(--dark-float-shadow-color);
}

.mouse_color_description {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.mouse_color_display {
    margin-bottom: 10px;
    font-family: 'Arial';
    font-size: 15px;
}

.mouse_color {
    width: 150px;
    height: 150px;
    border: 10px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color);
}

.dark_mode .mouse_color { /* dark */
    border: 10px solid var(--dark-background-color-height);
    box-shadow: 4px 4px 10px 0 var(--dark-black-shadow-color);
}

.selected_color_description {
    font-weight: 800;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.selected_color_display {
    margin-bottom: 10px;
    font-family: 'Arial';
    font-size: 15px;
}

.selected_color {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border: 10px solid var(--background-color);
    border-radius: 30px;
    box-shadow: 4px 4px 10px 0 var(--black-shadow-color),
    -4px -4px 10px var(--white-shadow-color);
    transition-duration: 0.1s;
    cursor: pointer;
}

.dark_mode .selected_color { /* dark */
    border: 10px solid var(--dark-background-color-height);
    box-shadow: 4px 4px 10px 0 var(--dark-black-shadow-color);
}

.selected_color:hover {
    transform: scale(1.05);
}

.right_aside .color_chips {
    width: 120px;
    height: 180px;
    margin-bottom: 15px;
}